<nav class="navbar sticky-top navbar-dark bg-primary">
<div class="w-100 d-flex justify-content-between">
    <div class="navbar-brand">
        <button type="button" style="min-width: 50px;" mat-icon-button (click)="sidebarToggle.toggleSidebar()"><mat-icon>menu</mat-icon></button>
        Created by: PCzech</div>
    <div class="navbar-brand">Serwis do obsługi urządzeń do destylacji</div>
    <div class="d-flex justify-content-end">
        <button mat-raised-button class="bg-success">Zaloguj</button>
        <button mat-raised-button class="ml-3">Rejestracja</button>
        <button mat-raised-button color="warn" class="ml-3">Wyloguj</button>

    </div>
</div>

</nav>
